@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


* {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

a{
    text-decoration: none;
    color:rgb(10, 90, 10);
}
.car-image{
    width: 340px;
    padding: 20px;
}
.main-info{
    border: 2px solid;
    width: 400px;
    margin-top: 50px;
}
p{
    margin: 0;
    padding: 0;
}
.specifications{
    margin-left: 20px;
}
.add-cart-btn{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}
.container {
    display: flex;
    align-items: flex-start; /* Выравнивает элементы по верхнему краю */
    gap: 20px; /* Промежуток между main-info и desc */
}
.desc{
    text-align: center;
    margin-top: 20px;
    width: 1400px;
}