{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap">
{% endblock %}

{% block content %}
    <h1 class="header-title">Welcome to the Cart!</h1>
    <div class="wrapper">
        {% if user.is_authenticated %}
            <h3 class="empty-cart-message">You don't have any items in your cart yet</h3>
        {% else %}
            <h3 class="empty-cart-message">Register or log in to your account to view the cart page</h3>
        {% endif %}
    </div>
{% endblock %}
