{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="search-bar">
            <div class="search-input">
                <a href="/cart/">Go to cart</a>
                <input type="text" placeholder="Enter the model of car" id="input-search">
            </div>
            <div class="select-choice">
                <label>Sorted by...</label>
                <select>
                    <option value="">Please choose an option</option>
                    <option value="price">price</option>
                    <option value="year">year of release</option>
                </select>
            </div>
        </div>
        <div class="cars">
            <h1 style="text-align: center">Cars in stock</h1>
            <div class="cards">
            {% for car in cars %}
                <div class="card">
                    <div style="position: relative; padding: 10px;">
                        <img src="{{car.image_url}}">
                    </div>
                    <h3>Model: {{car.name}}</h3>
                    <h3>Year: {{car.year}}</h3>
                    <h3>Price: 24h - {{car.price}}$</h3>
                    {% if car.count_in_stock < 10 %}
                    <h3>In stock: <span class="stock" data-quantity="few">Few</span> </h3>
                    {% else %}
                    <h3>In stock: <span class="stock" data-quantity="a lot">A lot of</span> </h3>
                    {% endif %}
                    <button>Add to cart</button>
                </div>

            {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/search.js' %}"></script>
{% endblock %}