{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'css/description.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main-info">
            <img src="{{car.image_url}}" alt="" class="car-image">
            <div class="specifications">
                <p>Car name: {{car.name}}</p>
                <p>Price (24h): {{car.price}}</p>
                <p>Count in stock: {{car.count_in_stock}}</p>
                <p>Year: {{car.year}}</p>
            </div>
            <button class="add-cart-btn">Add to cart</button>
        </div>
        <div class="desc">
            <p>
                {{car.description}}
            </p>
            <div class="main-features">
                <p>Main Features</p>
                <p>Engine capacity: {{car.engine_capacity}}</p>
                <p>Number of hp: {{car.number_of_hp}}</p>
                <p>Fuel consumption: {{car.fuel_consumption}}</p>
            </div>
        </div>

    </div>
{% endblock %}