{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'css/description.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main-info">
            <img src="{{car.image_url}}" alt="" class="car-image">
            <div class="specifications">
                <p><strong>Car name:</strong> {{car.name}}</p>
                <p><strong>Price (24h):</strong> {{car.price}}</p>
                <p><strong>Count in stock:</strong> {{car.count_in_stock}}</p>
                <p><strong>Year:</strong> {{car.year}}</p>
            </div>
            <button class="add-cart-btn">Add to cart</button>
        </div>
        <div class="desc">
            <p>{{car.description}}</p>
            <div class="main-features">
                <h2>Main Features</h2>
                <p><strong>Engine capacity:</strong> {{car.engine_capacity}}</p>
                <p><strong>Number of hp:</strong> {{car.number_of_hp}}</p>
                <p><strong>Fuel consumption:</strong> {{car.fuel_consumption}}</p>
            </div>
        </div>
    </div>
{% endblock %}
