{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="services-list">
            <p>• Car rental</p>
            <p>• Providing your own car for rent</p>
            <p>• Luxury car rental</p>
            <p>• Chauffeur service</p>
        </div>
        <div class="about-us-text">
            <h1>
                Welcome to VOSKANYAN Rent Car Service, your premier destination for car rental solutions.
                We are dedicated to providing you with the best experience in car rentals, combining convenience,
                reliability, and exceptional customer service. <br>
                At VOSKANYAN Rent Car Service, our mission is to make car rentals easy, affordable, and accessible to everyone. Whether you're looking for a short-term rental for a business trip, a luxury car for a special occasion, or a long-term vehicle solution, we have a wide range of options to meet your needs.
            </h1>
        </div>
        <div class="nav-menu">
            <a href="/register/">Go to registration</a>
            <a href="/login/">Login</a>
            <a href="/catalog/">Go to catalog</a>
        </div>
    </div>
{% endblock %}